<img src="{{obj.comic.url}}" width="{{obj.width}}" height="{{obj.height}}">
<h1>{{obj.title}} ({{obj.date}})</h1>
<br>
<h2>{{ obj.newstitle }}</h2>
<p>{{obj.news|safe|linebreaksbr}}</p>

{% with obj.origin.all as contributions %}
{% if contributions %}
<h2>Contributions to the comic</h2>
{% for contribution in contributions %}
<p><a href="http://nameremoved.com/{{ contribution.get_absolute_url }}">{{contribution.aka}}</a>
{{ contribution.get_contribution_type_display }}:
{{ contribution.content }}</p>
{% endfor %}
{% endif %}
{% endwith %}

{% if obj.storyline_set.all %}
    <p>Storyline{{ obj.storyline_set.count|pluralize }} this comic is involved in: {% for story in obj.storyline_set.all %}
        <a href="http://nameremoved.com/storylines/#{{story.slug}}">{{story.title}}</a>
    {% endfor %}</p>
{% endif %}

<p><a href="http://nameremoved.com/contribute/submit/">Suggest a starter panel!</a> <a href="http://topwebcomics.com/vote/4533/default.aspx">Vote for this comic at TopWebComics for a fancy reward!</a></p>

<h2>Transcription:</h2>
<p><code>{{ obj.transcript|force_escape|safe|linebreaksbr }}</code></p>
