{% extends 'main.html' %}

{% block title %}The Archive of Comics{% endblock %}

{% block headstuff %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('#main').tabs();
        $('.yearbunch').each(function(){$(this).tabs();});
    });
</script>
{% endblock %}

{% block sidebar %}
    <h2>Comic Archive</h2>
    <p>This is the date-based archive of comics. You might also be interested in the
        <a href="/storylines/">archive organized by storylines</a>.</p>
{% endblock %}

{% block bodycontent %}
{% if comics %}
<ul id="yearlist" class="inline">
{% for year in comics %}
    <li><a href="#{{year.year|date:"Y"}}">{{ year.year|date:"Y" }}</a></li>
{% endfor%}
</ul>
{% for year in comics %}
    <div class="yearbunch" id="{{year.year|date:"Y"}}">
        <ul class="inline">
            {% for month in year.months %}
                <li><a href="#{{ month.month|date:"Y-m"}}">{{ month.month|date:"F" }}</a></li>
            {% endfor %}
        </ul>
        {% for month in year.months %}
            <div class="comiclist" id="{{ month.month|date:"Y-m"}}">
                <ul class="nav">
                    {% for comic in month.comics %}
                        <li><span>{{ comic.date|date:"d F Y" }}</span> <a href="/comics/{{comic.sequence}}/">{{comic.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% else %}
    <p>There are no comics.</p>
{% endif %}
<br clear="both">
{% endblock %}

{% block localnews %}
{% endblock %}