{% extends 'main.html' %}

{% block title %} {{ comic.date }}: {{ comic.title }}{% endblock %}

{% block headstuff %}
    <script src="{{MEDIA_URL}}/js/jquery.cookies.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}/js/bookmark20090812.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
        #bookmarknav a.disabled { color: #444;font-style:normal;}
        #bookmarknav a.disabled:hover {background: white;}
        #bookmarknav .enabled:hover {cursor: pointer;}
        #transcription .inline {text-align:right;padding-right:20px;}
    </style>
{% endblock %}

{% block sidebar %}

<h2 id="title">{{ comic.date }}<br>"{{ comic.title }}"</h2>

<ul class="inline">
{% ifequal comic.sequence comic.first %}
    <li>first</li>
    <li>previous</li>
{% else %}
    <li class="navfirst"><a href="/comics/{{ comic.first }}/">first</a></li>
    <li class="navprev"><a href="/comics/{{ comic.previous }}">previous</a></li>
{% endifequal %}
{% ifequal comic.sequence comic.last %}
    <li>next</li>
    <li>last</li>
{% else %}
    <li><a href="/comics/{{ comic.next }}/">next</a></li>
    <li><a href="/comics/{{ comic.last }}/">last</a></li>
{% endifequal %}
</ul>

    <h3>{{ comic.newstitle }}</h3>

    <p>{{ comic.news|safe|linebreaksbr }}</p>
    
    {% with comic.origin.all as contributions %}
    {% if contributions %}
    <div id="contribution">
        <h3>Contributions</h3>
    {% for contribution in contributions %}
<p><a href="{{ contribution.get_absolute_url }}">{{ contribution.aka }}</a>
{{ contribution.get_contribution_type_display }}:
{{ contribution.content }}</p>    
    {% endfor %}
    </div>    
    {% endif %}
    {% endwith %}

    <hr>

    <p id="bookmarknav"></p>
    
    <div id="storynav">
    {% if comic.storyline_set.all %}
        <h3>Storyline{{ comic.storyline_set.all|pluralize }}</h3>
    {% load storyline %}
    {% for storyline in comic.storyline_set.all %}
{% storyline_nav %}
    {% endfor %}        
    {% endif %}
    </div>
    
    <p id="facebook"><a href="http://www.facebook.com/share.php?u=http%3A%2F%2Fnameremoved.com{{ comic.get_absolute_url }}">Share this comic on Facebook</a></p>
    
{% endblock %}

{% block bodycontent %}
<!--OnlineComics.net tags -->
<img src="{{ comic.comic.url }}" width="{{ comic.width}}" height="{{ comic.height}}" alt="Comic for {{ comic.date }}" >

<div id="transcription">
    <ul class="inline">
    {% ifequal comic.sequence comic.first %}
        <li>first</li>
        <li>previous</li>
    {% else %}
        <li class="navfirst"><a href="/comics/{{ comic.first }}/">first</a></li>
        <li class="navprev"><a href="/comics/{{ comic.previous }}">previous</a></li>
    {% endifequal %}
    {% ifequal comic.sequence comic.last %}
        <li>next</li>
        <li>last</li>
    {% else %}
        <li><a href="/comics/{{ comic.next }}/">next</a></li>
        <li><a href="/comics/{{ comic.last }}/">last</a></li>
    {% endifequal %}
    </ul>
    {% block transcript %}
    <h3>Transcription</h3>
    <code>
        {{ comic.transcript|force_escape|safe|linebreaksbr }}
    </code>
    {% endblock %}
</div>
<!-- end of onlinecomics.net -->
{% endblock %}
